$side-margin: 20px;

/** Collage */
#collage {
    position: fixed;
    top: 40px; /* FIXME */
    left: $side-margin; right: $side-margin;
    bottom: 0;

    //border: 2px solid black;
}
.collage__photo {
    position: absolute;
    display: inline-block;

    cursor: pointer;
}
.collage__photo__img {
    max-width: 250px;
}

#collage-canvas {
    width: 100%;
}

canvas, .canvas-container {
    position: absolute !important;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

