$edge-padding: 20px;
$text-color: black;

@import "./font-awesome.min.css";
@import "collage.scss";

* {
    font-family: Arial;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    color: $text-color;
}

body {
    background-color: white;
}

a {
    color: $text-color;
    text-decoration: none;

    -webkit-transition: opacity 0.15s;
    -moz-transition: opacity 0.15s;
    -ms-transition: opacity 0.15s;
    -o-transition: opacity 0.15s;
    transition: opacity 0.15s;

    &:hover {
        text-decoration: none;
        opacity: 0.7;
    }
    &:visited {
        color: $text-color;
    }
}

.hidden {
    display: none;
    visibility: hidden;
}

$logo-size: 40px;
#nts-logo {
    display: block;
    width: $logo-size;
    height: $logo-size;
    background-image: url('../images/NTS_LOGO_MASTER.png');
    background-size: $logo-size;
    position: absolute;

    &:hover {
        opacity: 0.75;
    }

    -webkit-transition: all 0.13s;
    -moz-transition: all 0.13s;
    -ms-transition: all 0.13s;
    -o-transition: all 0.13s;
    transition: all 0.13s;
}

/** Header */

#header {
    position: relative;

    border: 1px solid black;
    overflow: auto;

    height: 80px;

    #nts-logo {
        float: left;
    }
}
.header__left {
    position: absolute;
    top: 0;
    left: 0;
}
.header__right {
    position: absolute;
    top: 0;
    right: 0;
}
.header__radio-player, .header__mixcloud-container {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
}
.header__radio-player {

}
.header__radio-player__text {
    display: inline-block;
}
.header__radio-player__handler {
    display: inline-block;
}
.header__mixcloud-container {

}

#radio-handler-icon {
    cursor: pointer;
    font-size: 1.5em;
}

#live-now-circle {
    color: #d40000;
    opacity: 0;

    -webkit-animation: flickerAnimation 2s infinite ;
    -moz-animation: flickerAnimation 2s infinite;
    -o-animation: flickerAnimation 2s infinite;
    animation: flickerAnimation 2s infinite;
}

#nts-player-audio {

}

/** Gallery */

#gallery {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right:0;
    background-color: rgba(255,255,255,0.9);

    padding: 40px;
    text-align: center;

    z-index: 999999999;
}

.gallery--open {
    display: block;
}
.gallery--closed {
    display: none;
}

.gallery__img {
    display: block;
    max-height: 70vh;
    min-height: 400px;
    margin: 0 auto;
}

/** Animations */
@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
}
